.cart-table-wrapper {
  overflow-x: auto; /* scroll horizontal sur mobile */
  margin-top: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}

.cart-table th,
.cart-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background-color: #f7dbf4;
  font-family: "Poppins", sans-serif;
  color: #c2185b;
  font-weight: 600;
}

.remove-btn {
  padding: 5px 10px;
  background-color: #e200d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.remove-btn:hover {
  background-color: #c2185b;
}

/* Responsive */
@media (max-width: 768px) {
  .cart-table th,
  .cart-table td {
    padding: 8px 10px;
    font-size: 0.9rem;
  }
}
