.card-hero {
  background-size: cover;
  background-Image: url("/assets/bgcart.jpg");
  background-position: center; /* ajuste si nécessaire */
  height: 45vh;
  color: #c2185b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2); /* overlay léger */
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  position: relative;
  z-index: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 3rem !important;
  }}



  /* DateTimePicker */
.datetime-picker input {
  flex: 1;
  min-width: 150px;
  max-width: 250px;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.datetime-picker input:focus {
  border-color: #c2185b;
  outline: none;
  box-shadow: 0 0 5px rgba(194, 24, 91, 0.4);
}

/* Responsive : empile sur mobile */
@media (max-width: 768px) {
  .datetime-picker {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Bouton désactivé */
.custom-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Ajuste largeur du bouton */
.btn-large {
  width: 250px !important;
  padding: 12px 20px !important;
  font-size: 1.1rem !important;
  font-family: "Poppins", sans-serif;
}
