
.service-carousel-img {
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.thumb-img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.thumb-img:hover {
  transform: scale(1.05);
}

.active-thumb {
  border: 2px solid #0d6efd;
  transform: scale(1.05);
}
